<!DOCTYPE html>
<html>
<head>
  <title>MyMapApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<script type="text/javascript" src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDtlCO4voB02BO4bKGZgy2hXj2iXUhb5uM'></script>
</head>
<body>

<%= yield %>

</body>
</html>
